telegram
*.o
*.so
*.a
config.h
config.log
config.status
.idea/
nbproject/
tags
.DS_Store
.ycm_extra_conf.py
*.pyc
app-hash.png
.gdbinit
core
core*
telegram-adium/telegram-adium.xcodeproj/project.xcworkspace/xcuserdata/matj.xcuserdatad/UserInterfaceState.xcuserstate
telegram-adium/telegram-adium.xcodeproj/xcuserdata/matj.xcuserdatad
