#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --parallel --with autoreconf

# dh_auto_clean tries to "make distclean", but we don't have that target.
override_dh_auto_clean:
	test ! -e Makefile || $(MAKE) clean
